.create-report-container {
  padding: 20px;
}

/* HEADER */

.report-header {
  display: flex;
  gap: 30px;
  align-items: center;
  background: #ffffff;
  padding: 12px 20px;
  font-size: 14px;
  color: #2d317f;
  border: 1px solid #cfd6e0;
}

.header-input {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-input input {
  border: 1px solid #8fa3c1;
  padding: 4px 6px;
  height: 26px;
  background-color: white;
}

/* Status Badge */
.status-badge {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  padding: 5px 14px;
  border-radius: 20px;
  font-size: 13px;
  font-weight: 600;
  white-space: nowrap;
}
 
/* In Progress */
.status-in-progress {
  background-color: #F0E48B;
  color: #856404;
}
 
/* Under Review */
.status-under-review {
  background-color: #ADCEFF;
  color: #1e40af;
}
 
/* Completed */
.status-completed {
  background-color: #8BF093;
  color: #166534;
}

/* TABLE */

.report-table-scroll {
  margin-top: 15px;
  overflow-x: auto;
  border: 1px solid #8fa3c1;
}

.report-table {
  border-collapse: collapse;
  min-width: 2200px;
  width: 100%;
}
.report-table tr {
  color: #2d317f;
  background-color: white;
}
.report-table th {
  background: #d7e1f2;
  border: 1px solid #8fa3c1;
  padding: 6px;
  font-size: 12px;
  text-align: center;
}

.report-table td {
  border: 1px solid #8fa3c1;
  height: 32px;
}

/* INPUTS */

.report-table input {
  width: 100%;
  height: 100%;
  border: 1px solid #cfd6e0;
  padding: 4px;
  font-size: 12px;
  outline: none;
  background-color: #ffffff;
  color: #2d317f;
}

.report-table input:focus {
  background-color: #f3f7ff;
  border: 1px solid #2d317f;
}

/* BUTTONS */
.report-buttons {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}
.btn-back {
  padding: 8px 18px;
  border: none;
  background: #d9d9d9;
  border-radius: 6px;
}
.btn-submit {
  padding: 8px 18px;
  border: none;
  background: #2d317f;
  color: white;
  border-radius: 6px;
}

/* import export buttons */
.import-export-container {
  display: flex;
  gap: 20px;
  margin-left: auto;
}
 
.imp-exp-btn {
  border: none;
  cursor: pointer;
  transition: opacity 0.2s ease;
  border-radius: 8px;
}
 
.imp-exp-btn:hover {
  opacity: 0.7;
}
 
.imp-btn {
  border: 1px solid #3e7a43;
  background-color: transparent;
  padding: 4px 8px;
}
 
.exp-btn {
  background-color: #1d8104;
  color: white;
  padding: 4px 12px;
  display: flex;
  align-items: center;
  gap: 4px;
}
