.whole-login-body {
  display: flex;
  place-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
}

.login-container {
  background-color: #E1EBFF;
  padding: 30px 20px;
  border-radius: 8px;
  padding: 50px 50px;
  box-shadow: 0 6px 12px -6px #072560;
}

.nfa-logo-login {
  height: auto;
  max-width: 150px;
  
}

.system-title-login, .label-login {
  color: #072560;
}
.system-title-login {
  font-weight: bold;
  margin-bottom: 20px;
  font-size: 25px;
  text-align: center;
}
.label-login {
  font-size: 12px;
  font-weight: bold;
  text-align: left;
}

.input-container {
  margin-bottom: 15px;
  border-radius: 8px;
  font-size: 14px;
  display: flex;
  flex-direction: column;
}

.input-login {
  border-color: #072560;
  border-width: 0.1px;
  padding: 7px 10px;
  padding-right: 100px;
  border-radius: 5px;
}

.login-btn {
  background-color: #2D317F;
  color: white;
  padding: 7px 150px;
  margin-top: 15px;
  box-shadow: 0 6px 12px -6px #E0E2E4;
  border-radius: 8px;
  transition: 0.3s ease;
  cursor: pointer;
  font-weight: bold;
  font-size: 13px;
}
.login-btn:hover {
  opacity: 0.9;
}
.login-btn:active {
  opacity: 0.85;
}