
.report-status-container p {
  padding: 0px 5px;
  color: #2d317f89;
}
.pending-report {
  background-color: #F0E48B;
}
.approved-report {
  background-color: #8BF093;
}
.rejected-report {
  background-color: #FF595C;
}


.view-report-eval, .approve-report-eval, .reject-report-eval {
  border: 1.5px solid #ccc;

}
.view-report-eval {
  color: #2D317F;
}
.approve-report-eval {
  color: #27ae60;
}
.reject-report-eval {
  color: #c0392b;
  border-color: #c0392b;
  border-radius: 12px;
  padding: 6px 12px;
}

.view-report-eval:hover {
  background-color: #2D317F;
  color: white;
}
.approve-report-eval:hover {
  background-color: #27ae60;
  color: white;
}
.reject-report-eval:hover {
  background-color: #c0392b;
  color: white;
}